# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.pem
# Directory (contents) ignores
.cloud
.storage
deps
node-red
# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
core
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks
mind.conf
# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep

image/**/